body {
    padding: 0;
    margin: 0;
}

.todo {
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
}

.encabezado {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 50px;
}

.secciones {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    
}

.contacto {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    height: 60px;
}


.personaordenador2 {
    height: 800px;
    position: relative;
    text-align: center;
}

.fotoyletras {

}

.letras {
    position: absolute;
    margin-top: 150px;
    width: 500px;
    margin-left: 50px;
    background-color: white;
    height: 400px;
    text-align: center;
    padding: 10px;
    z-index: 10;
}

.numero {
    position: relative;
    top: 50px;
    height: 50px;
    margin-right: 50px;
    background-color: rgb(119, 119, 239);
    width: 150px;
    float: right;
    border-radius: 5%;
    text-align: center;

}

.numeroblanco {
    color: white;
}

.informacion {
    position: relative;
    top: 32px;
    height: 50px;
    margin-right: 50px;
    background-color: rgb(119, 119, 239);
    width: 200px;
    float: right;
    border-radius: 5%;
    text-align: center;

}

.quieroinfo {
    color: white;
}




.mantenimiento {
    height: 800px;
    width: 1530px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.mantenimiento-de-redes-y-servidores {
    position: relative;
    left: -400px;
    height: 800px;
}

.mantenimientoletras {
    position: relative;
    height: 300px;
    width: 500px;
    left: -1950px;
    top: 100px;
}

.numero2 {
    position: relative;
    top: 33px;
    height: 50px;
    margin-right: 50px;
    background-color: rgb(119, 119, 239);
    width: 150px;
    float: right;
    border-radius: 5%;
    text-align: center;

}

.nuestros {
    margin-top: 50px;
}

.titulo {
    font-size: 40px;
}

.textos {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    margin-top: 50px;
}

.textoss {
    font-size: 20px;
}

.parrafos {
    font-size: 20px;
}

.tituloazul {
    font-size: 30px;
    color: rgb(119, 119, 239);
}

.dosdivs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.divazul {
    background-color: rgb(119, 119, 239);
    margin-top: 50px;
    height: 700px;
}

.divblanco {
    background-color: antiquewhite;
    margin-top: 50px;
    height: 700px;
}

.tituloblanco {
    font-size: 40px;
    color: antiquewhite;
    margin-top: 10px;
    margin-left: 10px;
}

.textosblanco {
    font-size: 20px;
    margin-left: 10px;
    color: antiquewhite;
    margin-top: 40px;
    margin-right: 10px;

}

.textosblanco1 {
    font-size: 20px;
    margin-left: 10px;
    color: antiquewhite;
    margin-top: 40px;
    text-align: center;
    margin-right: 10px;
}

.numeroazul {
    font-size: 50px;
    margin-left: 10px;
    color: antiquewhite;
    margin-top: 40px;
    text-align: center;
}

.espera {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 40px;
    margin-right: 10px;
}

.titulonegro {
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.textosnegro {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 40px;
    margin-right: 10px;

}

.numeroblanco1 {
    font-size: 50px;
    margin-left: 10px;
    margin-top: 40px;
    text-align: center;
}

.textosnegro1 {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 40px;
    text-align: center;
    margin-right: 10px;
}

.tips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.foto {
    height: 180px;
    max-width: 100%;
    width: 380px;
}

.titulotips {
    font-size: 20px;
    margin-right: 30px;
}

.textotips {
    margin-right: 30px;
    margin-top: -20px;
}

.footer-in {
    background-color:rgb(119, 119, 239);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    padding-left: 300px;
    padding-right: 300px;
    color: antiquewhite;
    font-size: 10px;
}
.footer-col {
}