.todo {
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
}

.encabezado {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 50px;
}

.secciones {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    
}

.contacto {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    height: 60px;
}

.personaordenador {
    height: 800px;
    position: relative;
}

.personaordenador2 {
    height: 800px;
    position: relative;
    top: -800px;
}

.fotoyletras {
    border: solid;
    border-color: black;
    height: 800px;
    position: absolute;
}