.todo {
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

.encabezado {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.secciones {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    
}

.contacto {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    height: 60px;
}